@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f8ff;
  position: relative;
}

body a {
  text-decoration: none;
  color: black;
}

body .home {
  position: absolute;
  top: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  background: none;
  width: 85%;
}

@media (max-width: 991px) {
  header {
    width: auto;
    padding: 1rem;
  }
}

header .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
}

header .nav__hamburgerLabel {
  display: none;
}

@media (max-width: 991px) {
  header .nav__hamburgerLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}

header #nav__hamburgerMenu {
  display: none;
}

@media (max-width: 991px) {
  header #nav__hamburgerMenu:checked ~ .nav__list {
    display: block;
  }
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  header .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

header .nav__list .nav__list--item {
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
}

.home {
  color: white;
}

.home .nav__list--item a {
  color: white;
}

.home .logo a {
  color: white;
}

footer {
  background-color: #00264b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

footer .footer__text--p {
  margin: 5px;
}

@media (max-width: 991px) {
  footer .footer__text--p {
    font-size: 10px;
  }
}

footer .footer__icons--i {
  font-size: 25px;
  padding: 1rem;
}

@media (max-width: 991px) {
  footer .footer__icons--i {
    font-size: 16px;
    padding: 0.5rem;
  }
}

footer .footer__logo {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

@media (max-width: 991px) {
  footer .footer__logo {
    font-size: 20px;
  }
}

.herobanner {
  background-image: url(../../img/ocean.jpg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.herobanner .herobanner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem 0rem 1rem;
}

.herobanner .herobanner__text--heading {
  font-size: 4rem;
  font-weight: lighter;
}

@media (max-width: 991px) {
  .herobanner .herobanner__text--heading {
    font-size: 3rem;
  }
}

.herobanner .herobanner__text--p {
  font-size: 2rem;
}

@media (max-width: 991px) {
  .herobanner .herobanner__text--p {
    font-size: 1.5rem;
  }
}

.herobanner .herobanner__text--btn {
  width: 100%;
  padding: 0.5rem;
  border: solid 2px white;
  border-radius: 5px;
  background: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 991px) {
  .herobanner .herobanner__text--btn {
    font-size: 1rem;
  }
}

.herobanner .herobanner__text--btn a {
  color: white;
}

.herobanner .herobanner__icons {
  position: absolute;
  right: 5rem;
  top: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .herobanner .herobanner__icons {
    display: none;
  }
}

.herobanner .herobanner__icons--i {
  font-size: 1.5rem;
  padding: 1rem;
}

.featured, .products {
  margin: 10rem;
  margin-top: 5rem;
}

@media (max-width: 991px) {
  .featured, .products {
    margin: 1rem;
  }
}

.featured__products, .productCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 991px) {
  .featured__products, .productCards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products {
  margin-top: 2rem;
}

.productCard {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.featuredCard {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  max-width: 450px;
  width: 30%;
  min-width: 350px;
}

@media (max-width: 991px) {
  .card {
    width: 100%;
    min-width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.card h3 {
  font-weight: lighter;
  color: #606060;
}

.card p {
  font-weight: bolder;
}

.imgCont {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .imgCont {
    height: auto;
  }
}

.imgCont .imgCont__overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.imgCont .card__img {
  width: 100%;
  height: 270px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .imgCont .card__img {
    height: auto;
  }
}

.imgCont .imgCont__details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.imgCont .imgCont__details h4 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.imgCont .fadeIn-top {
  top: 20%;
}

.imgCont:hover .imgCont__overlay {
  opacity: 1;
}

.imgCont:hover .imgCont__details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.hide {
  display: none;
}

.loading {
  text-align: center;
}

.alert {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert .information, .alert .danger, .alert .success {
  border: solid 2px #00264b;
  max-width: 500px;
  width: 50%;
  color: #00264b;
  border-radius: 5px;
}

.alert .danger {
  border: solid 2px red;
  color: black;
}

.alert .success {
  border: solid 2px green;
  color: black;
}

.searchfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  .searchfield {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.searchfield #productFilter {
  margin: 0;
  border-radius: 5px 0 0 5px;
  border: solid 2px #00264b;
  padding: 0.3rem;
}

.searchfield .searchBtn {
  margin: 0;
  border-radius: 0 5px 5px 0;
  background-color: #00264b;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 0.3rem;
}

.detailcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10rem;
  margin-top: 2rem;
}

.detailcont__img {
  width: 45%;
  border-radius: 5px;
}

.detailcont .detailtext {
  width: 45%;
  padding: 1rem;
  border-left: solid 1px #00264b;
}

.detailcont .detailtext__heading {
  font-size: 2.5rem;
}

.detailcont .detailtext__paragraph {
  line-height: 1.5rem;
}

.detailcont .detailtext__price {
  margin-top: 4rem;
  font-weight: bold;
}

.detailcont .detailtext__btn {
  width: 50%;
  border: solid 2px #00264b;
  border-radius: 5px;
  background-color: #00264b;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #f5f8ff;
  padding: 0.3rem;
}

.detailcont .detailtext__btn:hover {
  color: #00264b;
  background-color: #f5f8ff;
  cursor: pointer;
}

.yourcart {
  margin: 10rem;
  margin-top: 2rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.yourcart .cartsummary {
  width: 100%;
  text-align: end;
  margin-top: 2rem;
  font-weight: bolder;
}

.yourcart button {
  border: solid 2px #00264b;
  border-radius: 5px;
  background-color: #00264b;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #f5f8ff;
  padding: 0.3rem;
}

.yourcart button:hover {
  color: #00264b;
  background-color: #f5f8ff;
  cursor: pointer;
}

.yourcart .cartbtn {
  width: 250px;
  margin-top: 1rem;
}

.cartcont {
  border-bottom: solid 1px #00264b;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px #00264b;
  padding: 1rem;
}

.cart__item--img {
  width: 250px;
  border-radius: 5px;
}

.cart__itemText {
  text-align: end;
}

.cart__itemText--price {
  font-weight: bold;
}

.cart__item--btn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */