@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f8ff;
  position: relative;
}

body a {
  text-decoration: none;
  color: black;
}

body header {
  position: absolute;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  background: none;
  width: 85%;
}

header .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
}

header .nav__hamburgerLabel {
  display: none;
}

@media (max-width: 991px) {
  header .nav__hamburgerLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
  }
}

header #nav__hamburgerMenu {
  display: none;
}

@media (max-width: 991px) {
  header #nav__hamburgerMenu:checked ~ .nav__list {
    display: block;
  }
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  header .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

header .nav__list .nav__list--item {
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
}

.home {
  color: white;
}

.home .nav__list--item a {
  color: white;
}

footer {
  background-color: #00264b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

footer .footer__text--p {
  margin: 5px;
}

@media (max-width: 991px) {
  footer .footer__text--p {
    font-size: 10px;
  }
}

footer .footer__icons--i {
  font-size: 25px;
  padding: 1rem;
}

@media (max-width: 991px) {
  footer .footer__icons--i {
    font-size: 16px;
    padding: 0.5rem;
  }
}

footer .footer__logo {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

@media (max-width: 991px) {
  footer .footer__logo {
    font-size: 20px;
  }
}

.herobanner {
  background-image: url(../../img/ocean.jpg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.herobanner .herobanner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herobanner .herobanner__text--heading {
  font-size: 4rem;
  font-weight: lighter;
}

.herobanner .herobanner__text--p {
  font-size: 2rem;
}

.herobanner .herobanner__text--btn {
  width: 100%;
  padding: 0.5rem;
  border: solid 2px white;
  border-radius: 5px;
  background: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.herobanner .herobanner__icons {
  position: absolute;
  right: 5rem;
  bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.herobanner .herobanner__icons--i {
  font-size: 1.5rem;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */