.yourcart {
  margin: $margin;
  margin-top: 2rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: $margin;
  @media (max-width: 991px) {
    width: 90%;
  }
  .cartsummary {
    width: 100%;
    text-align: end;
    margin-top: 2rem;
    font-weight: bolder;
  }
  button {
    border: solid 2px $secondary-color;
    border-radius: $radius;
    background-color: $secondary-color;
    font-family: $main-font;
    font-size: 1rem;
    color: $primary-color;
    padding: 0.3rem;
  }
  button:hover {
    color: $secondary-color;
    background-color: $primary-color;
    cursor: pointer;
  }
  .cartbtn {
    width: 250px;
    margin-top: 1rem;
  }
}
.cartcont {
  border-bottom: solid 1px $secondary-color;
}
.cart {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px $secondary-color;
    padding: 1rem;
  }
  &__item--img {
    width: 250px;
    border-radius: $radius;
    @media (max-width: 991px) {
      width: 100px;
    }
  }
  &__itemText {
    text-align: end;
    @media (max-width: 991px) {
      font-size: 1rem;
    }
  }
  &__itemText--price {
    font-weight: bold;
  }
  &__item--btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }
}
