.detailcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin;
  margin-top: 2rem;
  @media (max-width: 991px) {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  &__img {
    width: 45%;
    border-radius: $radius;
    margin: 1rem;
    @media (max-width: 991px) {
      width: 70%;
    }
  }
  .detailtext {
    width: 45%;
    padding: 1rem;
    border-left: solid 1px $secondary-color;
    @media (max-width: 991px) {
      width: 90%;
    }
    &__heading {
      font-size: 2.5rem;
      @media (max-width: 991px) {
        font-size: 1rem;
      }
    }
    &__paragraph {
      line-height: 1.5rem;
      margin-bottom: 4rem;
      @media (max-width: 991px) {
        line-height: 1.2rem;
        font-size: 0.8rem;
      }
    }
    &__price {
      font-weight: bold;
    }
    &__btn {
      width: 50%;
      border: solid 2px $secondary-color;
      border-radius: $radius;
      background-color: $secondary-color;
      font-family: $main-font;
      font-size: 1rem;
      color: $primary-color;
      padding: 0.3rem;
    }
    &__btn:hover {
      color: $secondary-color;
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
.detailMessage {
  .success {
    border: solid 1px $secondary-color;
    border-radius: $radius;
    text-align: center;
  }
}
