.detailcont {
  display: flex;
  justify-content: space-between;
  margin: $margin;
  margin-top: 2rem;
  &__img {
    width: 45%;
    border-radius: $radius;
  }
  .detailtext {
    width: 45%;
    padding: 1rem;
    border-left: solid 1px $secondary-color;
    &__heading {
      font-size: 2.5rem;
    }
    &__paragraph {
      line-height: 1.5rem;
    }
    &__price {
      margin-top: 4rem;
      font-weight: bold;
    }
    &__btn {
      width: 50%;
      border: solid 2px $secondary-color;
      border-radius: $radius;
      background-color: $secondary-color;
      font-family: $main-font;
      font-size: 1rem;
      color: $primary-color;
      padding: 0.3rem;
    }
    &__btn:hover {
      color: $secondary-color;
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
