body {
  margin: 0;
  font-family: $main-font;
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  footer {
    margin-top: auto;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .home {
    position: absolute;
    top: 0;
    @media (max-width: 991px) {
    }
  }
}
.flex {
  display: flex;
}
