header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  background: none;
  width: 85%;
  @media (max-width: 991px) {
    width: auto;
    padding: 1rem;
  }
  .logo {
    font-family: $logo-font;
    font-size: 60px;
  }
  .nav__hamburgerLabel {
    display: none;
    @media (max-width: 991px) {
      display: flex;
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  }
  #nav__hamburgerMenu {
    display: none;
  }
  #nav__hamburgerMenu:checked ~ .nav__list {
    @media (max-width: 991px) {
      display: block;
    }
  }
  .nav__list {
    display: flex;
    @media (max-width: 991px) {
      flex-direction: column;
      display: none;
    }
    .nav__list--item {
      padding: 1rem;
      list-style-type: none;
      font-size: 20px;
    }
  }
}
.home {
  color: white;
  .nav__list--item a {
    color: white;
  }
}
