.admin {
  margin: 2rem $margin;
  @media (max-width: 991px) {
    margin: 2rem 1rem;
  }
}
.adminProducts {
  border-bottom: solid 1px $secondary-color;
  &__headings {
    display: flex;
    justify-content: space-around;
    &--img {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px $secondary-color;
    padding: 1rem;
    @media (max-width: 991px) {
      font-size: 0.8rem;
      padding: 0.3rem;
    }
    &--element {
      max-width: 150px;
    }
  }
  &__img {
    width: 150px;
    border-radius: $radius;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
